# ignore extension-less files
*
!/**/
!*.*

*.class
*.exe
*.jar

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

html-css/Programacion-II/Proyecto/img/members/