section {
  display: flex;
  justify-content: center;
  margin-left: 27%;
  margin-right: 27%;
}

header {
  padding: 0px;
}

h1 {
  font-size: 6rem;
}

h2 {
  color: #ffffff;
}

h3 {
  font-size: 2rem;
}

/* Botón Siguiente */
button.boton {
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 15px 30px;
  background-color: #148059;
  color: #d9d9d9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Contenedor de los textos, campos */
.container {
  flex-direction: row;
  background-color: #ffffff;
  padding: 0 40px 10px 0px;
}

/* Texto de registro de cliente + contenedor superior */
.reg_text {
  background-image: url("../img/bg_registro-cliente.png");
  background-size: cover; /* Escala la imagen para que cubra todo el elemento */
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left: 27%; /* VALOR LIGADO AL DE SECTION */
  margin-right: 27%; /* VALOR LIGADO AL DE SECTION */
  border-radius: 15px 15px 0 0;
}

/* Botón de registrar + contenedor inferior */
.sub_box {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding-top: 0px;
  padding-bottom: 20px;
  margin-left: 27%; /* VALOR LIGADO AL DE SECTION */
  margin-right: 27%; /* VALOR LIGADO AL DE SECTION */
  border-radius: 0px 0px 15px 15px;
}

.text {
  margin: 15px 50px;
}

.text h3 {
  margin-bottom: 19px; /* Agrega 10px de espacio inferior a cada h3 */
  text-align: right;
  font-weight: 300;
}

.text,
.form {
  display: flex;
  flex-direction: column;
}

.text-field {
  position: relative;
  border-bottom: 1px solid #7e7e7e;
  margin: 32px 0px;
}

.text-field input {
  width: 100%;
  padding: 0px 50px 0 0;
  height: 30px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.foot_back {
  display: flex;
  flex-direction: row;
}
