/* 
 * ------------------------------------------------
 * 
 * 
 * PAGINA INDEX CSS 
 * 
 * 
 * ------------------------------------------------
 */

html {
  font-size: 62.5%; /* para que al usar "rem" en fuente/texto, 1rem = 10px */
  height: 100%;
}

body {
  /* Contenedor flex */
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;

  /* Atributos para ajustar la imagen/fondo */
  background-color: #292826;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  font-family: Inter, "Courier New", Courier, monospace;
}

header {
  padding-top: 20px;
}

main {
  flex: 1;
}

footer {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  padding: 30px 50px;
}

/* ind = index.html */
#ind_h1 {
  font-size: 4rem;
  text-align: center;
  color: #d9d9d9;
}

.ind_h2 {
  font-size: 3rem;
  text-align: center;
  color: #d9d9d9;
  font-weight: 400;
}

/* TEXTO HOME + CUADROS */
.seccion-general {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* CUADROS PRINCIPALES */
.card {
  background-color: #d9d9d9;
  padding: 80px 70px 50px 70px;
  border-radius: 10px;
  transition: all 0.3s ease;
  margin: 10px 0px;
}

/* Texto de los cuadros */
.ind_div h2 {
  color: #292826;
  font-weight: 800;
}

.card:hover {
  background-color: #e0e0e0;
  transform: scale(1.1);
}

.seccion-torneo {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* CUADRO PEQUEÑO (TORNEOS) */
.small-card {
  display: flex;
  flex-direction: row;
  background-color: #d9d9d9;
  padding: 0px 30px;
  border-radius: 10px;
  transition: all 0.3s ease;
  margin: 30px 10px;
}

/* achicar letra del boton logout */
.small-card,
.logout h2 {
  font-size: 2rem;
}

.small-card:hover {
  background-color: #e0e0e0;
  transform: scale(1.1);
}

/* Para centrar elementos (imagenes) */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* AGRANDAR (upscale) Y ACHICAR (downscale) IMAGEN */
.upsc {
  scale: 2;
}

.downsc {
  scale: 0.7;
}

/* Lista del footer */
.ind_ul {
  list-style-type: none; /* Elimina los puntos de la lista */
  padding: 0;
}

.ind_li {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.ind_li img {
  margin-right: 10px;
  vertical-align: middle; /* Alinea la imagen verticalmente */
}

a {
  text-decoration: none;
}

/* 
 * ------------------------------------------------
 * 
 * 
 * PAGINA LOGIN CSS 
 * 
 * 
 * ------------------------------------------------
 */
#log_foot {
  justify-content: center;
}

#log_foot a {
  color: #d9d9d9;
  font-weight: 200;
}

#log_h1 {
  font-size: 7rem;
  text-align: center;
  color: #d9d9d9;
}

#log_h2 {
  font-size: 4rem;
  text-align: center;
  font-weight: 800;
  color: #292826;
  margin-bottom: 0px;
}

#log_h3 {
  margin-top: 0%;
  font-size: 1.6rem;
  color: #292826;
  font-weight: 600;
}

.sect_login {
  display: flex;
  justify-content: center;
}

#log_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#log_img {
  scale: 2;
}

.log_a {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 650;
  color: #148059;
  text-decoration: none;
}

.log_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 420px;
  background-color: #d9d9d9;
  border-radius: 20px;
  padding: 40px 60px;
}

/* Campos de Información */
.input-box {
  width: 100%;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 2px solid #1e1e1e;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
}

/* Botón Siguiente */
button.boton {
  font-weight: 700;
  padding: 10px 20px;
  background-color: #148059;
  color: #d9d9d9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Clases para recuperar contraseña y registrarse/siguiente, respectivamente */
.rec-pass {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.texto-registro {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* 
 * ------------------------------------------------
 * 
 * 
 * PAGINA INDEX CSS 
 * 
 * 
 * ------------------------------------------------
 */

/* 
 * reg_cl = registrar cliente 
*/

/* section registrar cliente */
#reg-cl_section {
  display: flex;
  justify-content: center;
  margin-left: 27%;
  margin-right: 27%;
  flex-direction: row;
  background-color: #ffffff;
  padding: 0 40px 10px 0px;
}

#reg_cl-header {
  padding: 0px;
}

.reg_cl-h2 {
  color: #292826;
  font-weight: 800;
}

.reg_cl-h3 {
  font-size: 2rem;
}

/* Botón Siguiente */
button.boton {
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 15px 30px;
  background-color: #148059;
  color: #d9d9d9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Texto de registro de cliente + contenedor superior */
.reg_text {
  background-image: url("../img/bg_registro-cliente.png");
  background-size: cover; /* Escala la imagen para que cubra todo el elemento */
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left: 27%; /* VALOR LIGADO AL DE SECTION */
  margin-right: 27%; /* VALOR LIGADO AL DE SECTION */
  border-radius: 15px 15px 0 0;
}

/* Botón de registrar + contenedor inferior */
.sub_box {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding-top: 0px;
  padding-bottom: 20px;
  margin-left: 27%; /* VALOR LIGADO AL DE SECTION */
  margin-right: 27%; /* VALOR LIGADO AL DE SECTION */
  border-radius: 0px 0px 15px 15px;
}

.text {
  margin: 15px 50px;
}

.text h3 {
  margin-bottom: 19px; /* Agrega 10px de espacio inferior a cada h3 */
  text-align: right;
  font-weight: 300;
}

.text,
.form {
  display: flex;
  flex-direction: column;
}

.text-field {
  position: relative;
  border-bottom: 1px solid #7e7e7e;
  margin: 32px 0px;
}

.text-field input {
  width: 100%;
  padding: 0px 50px 0 0;
  height: 30px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.foot_back {
  display: flex;
  flex-direction: row;
}

/* 
 * ------------------------------------------------
 * 
 * 
 * PAGINA PRESENTACIÓN
 * 
 * 
 * ------------------------------------------------
 */

/* imagenes de integrantes */
.member {
  border-radius: 10px;
  scale: 1.5;
}

.member_sect {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
